:root {
    --welcome-msg-color: #edac72;
    --viewMenu-btn-color: #694816;
    --viewMenu-btn-hover-color: #946922;
}

.main-home {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.welcome-msg {
    color: var(--welcome-msg-color);
}

.viewMenu-btn {
    background-color: var(--viewMenu-btn-color);
    padding: 0.5rem 1rem;
    color: var(--font-color);
    border-radius: 5px;
}

.viewMenu-btn:hover {
    background-color: var(--viewMenu-btn-hover-color);
}

